<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>URL Shortener Tests</title>
        <link rel="stylesheet" href="../test/testpage/mocha.css">
    </head>
    <body>
        <div id="mocha"><p><a href=".">Index</a></p></div>
        <div id="messages"></div>
        <div id="fixtures"></div>
        <script src="../test/testpage/mocha.js"></script>
        <script src="../test/testpage/chai.js"></script>
        <script>mocha.setup('bdd')</script>

        <!-- load code to test here -->
        <script src= "../app.js"></script>
        <script src= "../routes/index.js"></script>

        <!-- load test files here -->
        <script src="../test/spec.js"></script>

        <!--launch mocha test runner -->  
        <script>mocha.run();</script>
    </body>
</html>